@model List<Story>

@{
    Layout = "_VerticalLayout";
    ViewData["Title"] = "Fan Stories";
}

<h1>@ViewData["Title"]</h1>

<body>
    @foreach (Story s in Model)
     {
        <div class="card">
            <div class="card-header">@s.Title</div>
            <div class="card-body">
                @s.Users[0].Name <br />
                @s.UserStory
            </div>

            @if (s.Comments.Count > 0)
             {
                <div class="card-footer">
                    <p>COMMENTS</p>
                    @foreach (Comment c in s.Comments)
                    {
                        @c.Commenter.Name<br />
                        @c.CommentText <br />
                    }
                </div>
             }
            <br />
            <a asp-action="AddComment" asp-route-title="@s.Title">Comment</a>
            <br />
        </div>
     }

    <p>HAVE A STORY TO TELL?<br />
       <a asp-action="Stories">CLICK HERE</a>
    </p>
</body>