@model List<Story>

@{
    ViewData["Title"] = "Fan Stories";
}

<h1>@ViewData["Title"]</h1>

<h2>Here is a list of fan stories</h2>
<body>    
        @foreach (Story s in Model)
        {

                <h1>@s.Title</h1>
                @s.Users[0].Name <br />
                @s.UserStory
                
                @if (s.Comments.Count > 0)
                {
                    <h3>COMMENTS</h3>
                    @foreach (Comment c in s.Comments)
                    {
                        @c.Commenter.Name<br/>
                        @c.CommentText <br />
                    }
                }
                <br />
                <a asp-action="AddComment" asp-route-title="@s.Title">Add a comment</a>

                <br />             
        }  
</body>